.loading {
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  cursor: pointer;
  color: #000;
}

.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // background: #e7eaee;
  align-items: center;
  box-shadow: 1px 1px 1px;

  header {
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    background: #ffff;
    margin-bottom: 25px;

    .indexhead {
      width: 1000px;
      height: 55px;
      display: flex;
      justify-content: space-around;

      .nav_left {
        width: 500px;
        height: 50px;
        margin-left: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        .index_manu {
          flex: 1;
          cursor: pointer;
        }
      }

      .nav_right {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 150px;

        .nav_right_select {
          width: 50px;
          border: 0px solid;
          outline: none;
          cursor: pointer;
          color: #000;
        }

        .nav_right_select_option {
          border: 0px solid;
          outline: none;
          cursor: pointer;
          color: #000;
        }

        .nav_right_select:hover {
          color: red;
        }

        .nav_right_off {
          width: 30px;
          cursor: pointer;
          color: #000;
        }

        .nav_right_off:hover {
          color: red;
        }

        .nav_right_search {
          width: 30px;
          size: 40px;
          font-size: 25px;
          cursor: pointer;
          color: #000;
        }

        .nav_right_search:hover {
          color: red;
        }

        .nav_rigint_login {
          width: 50px;
          height: 25px;
          border: 1px solid #ccc;
          cursor: pointer;
          color: #000;
        }

        .nav_rigint_login:hover {
          color: red;
          border: 1px solid red;
        }
      }
    }
  }

  section {
    flex: 1;
    // div {
    //   width: 500px;
    //   height: 140px;
    //   background: #fff;
    // }
  }
}

.index2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // background: #e7eaee;
  align-items: center;
  box-shadow: 1px 1px 1px;

  header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    background: rgb(41, 40, 40);
    margin-bottom: 25px;

    .indexhead {
      width: 1000px;
      height: 55px;
      display: flex;
      justify-content: space-around;

      .nav_left {
        width: 500px;
        height: 50px;
        margin-left: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        .index_manu {
          flex: 1;
          cursor: pointer;
        }
      }

      .nav_right {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 150px;

        .nav_right_select {
          width: 50px;
          border: 0px solid;
          outline: none;
          cursor: pointer;
          color: #ffff;
          background: rgb(41, 40, 40);
        }

        .nav_right_select_option {
          border: 0px solid;
          outline: none;
          cursor: pointer;
          color: #fff;
        }

        .nav_right_select:hover {
          color: red;
        }

        .nav_right_off {
          width: 30px;
          cursor: pointer;
          color: #fff;
        }

        .nav_right_off:hover {
          color: red;
        }

        .nav_right_search {
          width: 30px;
          size: 40px;
          font-size: 25px;
          cursor: pointer;
          color: #fff;
        }

        .nav_right_search:hover {
          color: red;
        }

        .nav_rigint_login {
          width: 50px;
          height: 25px;
          border: 1px solid #ccc;
          cursor: pointer;
          color: #000;
        }

        .nav_rigint_login:hover {
          color: red;
          border: 1px solid red;
        }
      }
    }
  }

  section {
    flex: 1;
    // div {
    //   width: 500px;
    //   height: 140px;
    //   background: #fff;
    // }
  }
}
footer{
  display: flex;
  width: 100%;
  height: 50px;
  // background: rgb(239, 184, 184);
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: #000 solid 1px;
  a{
    color: #000;
  }
}