.loading {
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  cursor: pointer;
  color: #000;
}
.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px;
}
.index header {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  background: #ffff;
  margin-bottom: 25px;
}
.index header .indexhead {
  width: 1000px;
  height: 55px;
  display: flex;
  justify-content: space-around;
}
.index header .indexhead .nav_left {
  width: 500px;
  height: 50px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index header .indexhead .nav_left .index_manu {
  flex: 1;
  cursor: pointer;
}
.index header .indexhead .nav_right {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 150px;
}
.index header .indexhead .nav_right .nav_right_select {
  width: 50px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  color: #000;
}
.index header .indexhead .nav_right .nav_right_select_option {
  border: 0px solid;
  outline: none;
  cursor: pointer;
  color: #000;
}
.index header .indexhead .nav_right .nav_right_select:hover {
  color: red;
}
.index header .indexhead .nav_right .nav_right_off {
  width: 30px;
  cursor: pointer;
  color: #000;
}
.index header .indexhead .nav_right .nav_right_off:hover {
  color: red;
}
.index header .indexhead .nav_right .nav_right_search {
  width: 30px;
  size: 40px;
  font-size: 25px;
  cursor: pointer;
  color: #000;
}
.index header .indexhead .nav_right .nav_right_search:hover {
  color: red;
}
.index header .indexhead .nav_right .nav_rigint_login {
  width: 50px;
  height: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
}
.index header .indexhead .nav_right .nav_rigint_login:hover {
  color: red;
  border: 1px solid red;
}
.index section {
  flex: 1;
}
.index2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px;
}
.index2 header {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  background: #292828;
  margin-bottom: 25px;
}
.index2 header .indexhead {
  width: 1000px;
  height: 55px;
  display: flex;
  justify-content: space-around;
}
.index2 header .indexhead .nav_left {
  width: 500px;
  height: 50px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index2 header .indexhead .nav_left .index_manu {
  flex: 1;
  cursor: pointer;
}
.index2 header .indexhead .nav_right {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 150px;
}
.index2 header .indexhead .nav_right .nav_right_select {
  width: 50px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  color: #ffff;
  background: #292828;
}
.index2 header .indexhead .nav_right .nav_right_select_option {
  border: 0px solid;
  outline: none;
  cursor: pointer;
  color: #fff;
}
.index2 header .indexhead .nav_right .nav_right_select:hover {
  color: red;
}
.index2 header .indexhead .nav_right .nav_right_off {
  width: 30px;
  cursor: pointer;
  color: #fff;
}
.index2 header .indexhead .nav_right .nav_right_off:hover {
  color: red;
}
.index2 header .indexhead .nav_right .nav_right_search {
  width: 30px;
  size: 40px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}
.index2 header .indexhead .nav_right .nav_right_search:hover {
  color: red;
}
.index2 header .indexhead .nav_right .nav_rigint_login {
  width: 50px;
  height: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
}
.index2 header .indexhead .nav_right .nav_rigint_login:hover {
  color: red;
  border: 1px solid red;
}
.index2 section {
  flex: 1;
}
footer {
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: #000 solid 1px;
}
footer a {
  color: #000;
}
