@import 'react-vant/lib/index.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.index {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
/* 

.nav {
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #f3f3f3;
  box-shadow: 0px 1px 1px #f3f3f3;
}

.nav_main {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_main p a {
  color: #000;
}
.nav_main p a:hover {
  color: red;
}
.nav_right {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_rigint_login {
  width: 60px;
  height: 25px;
}

.nav_rigint_login:hover {
  border: 1px solid red;
  color: red;
}

.nav_right_select /deep/ .nav_right_select_option {
  width: 60px;
  height: 30px;
  border: none;
}
.nav_right_select:hover {
  color: red;
}
.nav_right_search {
  width: 40px;
  height: 25px;
  size: 25px;
  display: flex;
  align-items: center;
}
.nav_right_search:hover {
  color: red;
}
.off:hover {
  color: red;
}
.foot {
  width: 1200px;
  background: #fff;
  box-shadow: 1px 1px 1px #f3f3f3;
  margin: 0 auto;
  margin-top: 10px;
}

.foot_left {
  width: 750px;
  height: 700px;
  background: #fff;
  box-shadow: 1px 1px 1px #f3f3f3;
  float: left;
}

.foot_right {
  margin-left: 20px;
  width: 380px;
  background: #fff;
  box-shadow: 1px 1px 1px #f3f3f3;
  float: left;
}
.active {
  color: red;
} */
