@import '~antd/dist/antd.css';
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
th,
ul {
  margin: 0;
  padding: 0;
  user-select: none;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
}

.container_frame {
  width: 100%;
  height: 100%;
  margin-top: -15px;
  // background: palegreen;
  display: flex;
}
.container_left {
  width: 550px;
  height: 100%;
  border: 1px solid #f3f3f3;
  background: #ffff;

  margin-left: 110px;
}
.container_right {
  width: 280px;
  margin-left: 15px;
}
.container_right_toplist {
  flex: 1;
  // height: 250px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  background: #ffff;
}
.container_right_bottomlist {
  flex: 1;
  // height: 100px;
  border: 1px solid #ccc;
  background: #ffff;
}
.container_right_bottom {
  margin-top: 25px;
  width: 280px;
  height: 97px;
  background: #ccc;
}

.container_left1 {
  width: 550px;
  height: 100%;
  border: 1px solid #ccc;
  background: #2b2b2c;
  color: #fff;
  margin-left: 110px;
}

.container_right_toplist1 {
  flex: 1;
  // height: 250px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  background: #2b2b2c;
  color: #fff;
}
.container_right_bottomlist1 {
  flex: 1;
  // height: 100px;
  border: 1px solid #ccc;
  background: #2b2b2c;
  color: #fff;
}
